<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Fabrik</h2>
                <table class="table">
                    <tr>
                        <th>Produktionsgeschwindigkeit:</th>
                        <td>{{ factory.production_time }} Sekunden</td>
                    </tr>
                    <tr>
                        <th>Lager:</th>
                        <td>{{ factory.stock }} Einheiten</td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-4">
                <h2>Transporter</h2>
                <table class="table">
                    <tr>
                        <th>Geschwindigkeit:</th>
                        <td>{{ transporter.speed }} m/s</td>
                    </tr>
                    <tr>
                        <th>Kapazität:</th>
                        <td>{{ transporter.capacity }} Einheiten</td>
                    </tr>
                    <tr>
                        <th>Geladen:</th>
                        <td>{{ transporter.stock }} Einheiten</td>
                    </tr>
                    <tr>
                        <th>Laden:</th>
                        <td>{{ transporter.is_loading }}</td>
                    </tr>
                    <tr>
                        <th>Fahren:</th>
                        <td>{{ transporter.is_driving }}</td>
                    </tr>
                    <tr>
                        <th>Position:</th>
                        <td>{{ transporter.position }} m</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4">
                <h2>Lager</h2>
                <table class="table">
                    <tr>
                        <th>Lagerbestand:</th>
                        <td>{{ warehouse.stock }}</td>
                    </tr>
                    <tr>
                        <th>Entfernung zur Fabrik:</th>
                        <td>{{ simulation.route_length }} m</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a :href="'/simulation/'+simulation.id+'/reset'" class="btn btn-danger">Reset</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SimulatorComponent",
        created() {
            this.fetchSimulationData();
            this.timer = setInterval(this.fetchSimulationData, 1000)
        },
        data(){
            return {
                factory: {'stock': 0, 'production_time':0},
                transporter: {'stock': 0, 'capacity':0, 'speed':0, 'is_driving':false, 'is_loading':false, 'position':0},
                warehouse: {'stock':0},
                simulation: {'id':this.extractSimulationIdFromUrl()},
                simulation_id: this.extractSimulationIdFromUrl(),
            }
        },
        methods: {
            extractSimulationIdFromUrl(){
                var current_url = window.location.href;
                var splitted_url = current_url.split("/");
                return splitted_url[splitted_url.length - 1];
            },
            fetchSimulationData(){
                var self = this;
                var simulation_id = this.extractSimulationIdFromUrl();
                axios.get('/simulation/'+self.simulation_id+'/update').then(function (response) {
                    console.log(response.data);
                    self.transporter = response.data.transporter;
                    self.factory = response.data.factory;
                    self.warehouse = response.data.warehouse;
                    self.simulation = response.data;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>

<style scoped>

</style>